bin
obj
.vscode

# Emacs LSP cache
.cache

# Contains user secrets, manually managed
config.json

# Environment variables
.env

# Lavalink server
Server/application.yml
Server/logs
Server/plugins/*.jar
